@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800&display=swap");

body {
  background-color: rgb(189, 224, 224);
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
